.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.hero img{
    margin-top: 45px;
    height: 180px;
    width: 180px;
}
.hero h1{
    text-align: center;
    width: 75%;
    font-size: 60px;
    font-weight: 500;
}
.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 20px 70px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width: 768px){
    .hero img{
        margin-bottom: 120px;
    }
}