.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

    .contacttitle{
        position: relative;

        h1{
            padding: 0px 30px;
            font-size: 80px;
            font-weight: 600;
        }

        img{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.contact-section{
    display: flex;
    gap: 150px;

    .contactleft{
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1{
            font-size: 80px;
            font-weight: 700;
        }

        p{
            max-width: 550px;
            color: #D8D8D8;
            font-size: 20px;
            line-height: 35px;
        }
    }
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;

    .contact-detail{
        display: flex;
        align-items: center;
        gap: 20px;

    }
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    label{
        color: #D8D8D8;
        font-size: 22px;
        font-weight: 500;
    }

    input{
        border: none;
        width: 700px;
        height: 78px;
        padding-left: 20px;
        border-radius: 4px;
        background: #32323c;
        color: #A0A0A0;
        font-family: Outfit;
        font-size: 20px;
    }

    textarea{
        width: 650px;
        border: none;
        padding: 25px;
        border-radius: 4px;
        background: #32323c;
        color: #A0A0A0;
        font-family: Outfit;
        font-size: 20px;
    }

    .contact-submit{
        border: none;
        color: white;
        border-radius: 50px;
        font-size: 22px;
        padding: 20px 60px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: 0.3s;
        background-color: rgb(101, 101, 183);
    }

    .contact-submit:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}